/.angular/cache
.DS_Store
.idea
.scannerwork
.Trashes
*.bak
*.iml
*.log
*.min.js
*.rej
*.sublime-workspace
*.swp
*.zip
AUTHOR
bazel-*
commit-info.txt
devmode
dist
local-*.txt
node_modules
notes.*
screenshots
sonar-project.properties
typings
workshop
Workshop
yarn.lock
!bazel-*.sh

_*.md
_img
_tools/
.bazelignore
.dockerignore
.gitattributes
*.bzl
*SKIP*
*TODO*
bitbucket-pipelines.yml
BUILD
BUILD.bazel
migrations.json
quiz/
survey.json
WORKSPACE
