.angular
.bazelignore
.bazelrc
.browserslistrc
.dockerignore
.DS_Store
.editorconfig
.firebaserc
.idea
.git*
.npmrc
.prettierignore
.stackblitzrc
.vscode
.yarnrc
*.bak
*.bzl
*.cache
*.docx
*.ico
*.jpeg
*.jpg
*.lock
*.log
*.map
*.md
*.pdf
*.png
*.pug
*.sh
*.svelte
*.svg
*.txt
/quiz/public/lib
bazel-*
BUILD.bazel
bundle.js
bundle.css
dist
firestore.rules
notes.*
package.json
SKIP-publish/host-repo
SKIP-publish/next
SKIP-publish/public
SKIP-publish/template
surveys.json
